<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Gumbler Data</h3>
        </div>

        {% for result in projects %}

        <div class="row marketing">
            <div class="col-lg-6">
            <table>
            <tr>
                <td><h4>{{ result["project"] }}<h4></td>
            </tr>
            <tr>
                <td><h3>Commit:{{ result["commit"] }}<h3></td>
            </tr>
            {% if 'not_downloaded' in result %}
            <tr>
                <td>ND:<a href="{{ result["url"] }}">{{ result["url"] }}</a></td>
            </tr>
            {% else %}
            <tr>
                <td><a href="{{ result["url"] }}">{{ result["url"] }}</a></td>
            </tr>

            <tr>
            {% if 'is_ascii' in result %}
                <td><pre><code>{{ result["results"] }}</code></pre></td>
            {% else %}
                <td><pre><code>BINARY IN FILE, DOWNLOAD RAW</code></pre></td>
            </tr>

            {% endif %}
            {% endif %}
            </table>
            </div>
        </div>

       {% endfor %}            

        <footer class="footer">
            <p>&copy; Gumbler</p>
        </footer>

    </div>
</body>

</html>