<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gumber Server</title>


    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/examples/jumbotron-narrow.css" rel="stylesheet">
<style>

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>

</head>

