<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gumber Server</title>


    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/examples/jumbotron-narrow.css" rel="stylesheet">
<style>

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Gumbler Data</h3>
{{ pagination.info }}
{{ pagination.links }}
        </div>

        <div class="row marketing">
            <div class="col-lg-10">
            <table>
            {% for result in projects %}
            <tr>

                <td><a href="/project?project={{ result }}">{{ result }}</a></td>
            </tr>
            {% endfor %}            
            </table>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Gumbler</p>
        </footer>

    </div>
</body>

</html>
